body, html {height: 90%;}
body {background-color:#FFFFFF;}
svg {display:block}
text tspan {white-space:pre; fill:currentColor}
table {
    border-collapse: separate;
    border-spacing: 10px 4px;
}

#abcde_rendering {
    font: 23px;
    position: relative;
    margin-bottom: 500px;
}

#one, #two, #three, #four, #five,
#comma, #slash, #open_paren, #close_paren, #toggle {
    margin-left: 1px;
    margin-right: 1px;
    width: 12.5%;
    vertical-align: middle;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

#backspace, #pencil, #previous, #next {
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    vertical-align: middle;
    width: 48px;
}

#help span { display: none;
    position: absolute; width:400px; left:150px;
    background-color:#e0e0e0; font-size:small;
    border:1px solid black}
#help:hover span {display: block; z-index: 2 }
#diverr {
    color: red;
    background-color: white;
    height: 100px;
    width: 100%;
    overflow-y: auto;
}

#modal_wrapper.overlay:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: #000;
    background: rgba(0,0,0,0.7);
}

#modal_window {
    display: none;
    z-index: 200;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 360px;
    overflow: auto;
    padding: 10px 20px;
    background: #fff;
    border: 5px solid #999;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#modal_wrapper.overlay #modal_window {
    display: block;
}

#abcde_keypad {
    background-color: LightGray;
    display: inline-block;
    position:fixed;
    right:0px;
    left:0px;
    bottom:0px;
    margin-bottom:0px;
}

#symbol_div, #number_div {
}
