<html>
<head profile="http://www.w3.org/2005/10/profile">
    <link rel="icon" type="image/ico" href="../images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="http://nlp.cs.uic.edu/didactyl/abcde/css/abcDE.css">
    <script src="http://nlp.cs.uic.edu/didactyl/abcde/lib/abcDE_full_min.js" type="text/javascript"></script>
    <title>abcDE</title>
</head>

<body>
<div id="abcde"></div>

<script type="text/javascript">
    window.onload = function() {
        AbcDE.render({output:'append', preset:'first', file_input:true, url_input:true});
    }
</script>

<p align="center">Copyright &copy; 2015, 2016 David A. Randolph</p>
</body>
</html>
