<html>
<head profile="http://www.w3.org/2005/10/profile">
    <meta name="viewport" content="user-scalable=no">
    <link rel="icon" type="image/ico" href="../image/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../css/abcDE.css">
    <script src="../lib/jquery-1.12.0.min.js" type="text/javascript"></script>
    <script src="../lib/fastclick.js" type="text/javascript"></script>
    <script src="../lib/sprintf.min.js" type="text/javascript"></script>
    <script src="../lib/md5.min.js" type="text/javascript"></script>
    <script src="../lib/swfobject.js" type="text/javascript"></script>
    <script src="../lib/downloadify.min.js" type="text/javascript"></script>
    <script src="../lib/abc2svg-1.js" type="text/javascript"></script>
    <script src="../lib/jszip.js" type="text/javascript"></script>
    <script src="../lib/xml2abc.js" type="text/javascript"></script>
    <script src="../lib/clipboard.min.js" type="text/javascript"></script>
    <script src="../lib/abcDE.js" type="text/javascript"></script>
    <script src="../lib/abcdf_parser.js" type="text/javascript"></script>
    <title>abcDE</title>
</head>

<body>
<div id="abcde"></div>

<script type="text/javascript">
    var settings = {
        default_url: "https://dvdrndlph.github.io/didactyl/corpora/clementi/11.abc",
        preset_select: true,
        file_input: true,
        url_input: true
    };

    window.onload = function() {
        var abcDE = new AbcDE();
        abcDE.renderUI(settings);
    }
</script>

<p align="center">Copyright &copy; 2015-2019 David A. Randolph</p>
</body>
</html>
