<html>
<head profile="http://www.w3.org/2005/10/profile">
    <meta name="viewport" content="user-scalable=no">
    <link rel="icon" type="image/ico" href="http://dvdrndlph.github.io/didactyl/abcde/image/favicon.ico">
    <link rel="stylesheet" type="text/css" href="http://dvdrndlph.github.io/didactyl/abcde/css/abcDE.css">
    <script src="http://dvdrndlph.github.io/didactyl/abcde/lib/abcDE_full.js" type="text/javascript"></script>
    <title>abcDE</title>
</head>

<body>
<div id="abcde"></div>

<script type="text/javascript">
    window.onload = function() {
        var abcDE = new AbcDE();
        abcDE.renderUI({output:'append', preset:'first', file_input:true, url_input:true});
    }
</script>

<p align="center">Copyright &copy; 2015, 2016 David A. Randolph</p>
</body>
</html>
