<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://surveyjs.org/css/survey.css" />
    <link rel="stylesheet" type="text/css" href="../css/abcDE.css">
    <script src="../lib/jquery-1.12.0.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
    <script src="http://surveyjs.org/js/survey.min.js"></script>
    <script src="../lib/surveyor.js" type="text/javascript"></script>
    <script src="../lib/fastclick.js" type="text/javascript"></script>
    <script src="../lib/sprintf.min.js" type="text/javascript"></script>
    <script src="../lib/md5.min.js" type="text/javascript"></script>
    <script src="../lib/swfobject.js" type="text/javascript"></script>
    <script src="../lib/downloadify.min.js" type="text/javascript"></script>
    <script src="../lib/abc2svg-1.js" type="text/javascript"></script>
    <script src="../lib/jszip.js" type="text/javascript"></script>
    <script src="../lib/xml2abc-min.js" type="text/javascript"></script>
    <script src="../lib/clipboard.min.js" type="text/javascript"></script>
    <script src="../lib/abcDF_parser.js" type="text/javascript"></script>
    <script src="../lib/abcDE.js" type="text/javascript"></script>
</head>
<body>

<div id="abcde"></div>

<div id="preliminary_survey"></div>
<form id="consent" onsubmit="return processConsent()">
    <div style="text-align: center;"><strong>University of Illinois at Chicago</strong></div>

    <div style="text-align: center;"><strong>Research Information and Consent for Participation in Social Behavioral Research</strong><br />
        <strong>Piano Fingering Study</strong></div>
    &nbsp;<br />
    You are being asked to participate in a research study. Researchers are required to provide a consent form such as this one to tell you about the research, to explain that taking part is voluntary, to describe the risks and benefits of participation, and to help you to make an informed decision. You should feel free to ask the researchers any questions you may have.<br />
    &nbsp;<br />
    Principal Investigator: David Randolph, PhD Student<br />
    Affiliation: Department of Computer Science, University of Illinois at Chicago<br />
    Contact Information: 940 SEO, 851 S. Morgan St., Chicago, Illinois;&nbsp;<a href="mailto:drando2@uic.edu">drando2@uic.edu</a><br />
    &nbsp;<br />
    <strong><u>Why am I being asked?</u></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
    You are being asked to be a subject in a research study about piano fingering.<br />
    &nbsp;<br />
    You have been asked to participate in the research because you are over the age of 18, have considerable experience and expertise as a pianist, and may be eligible to participate.<br />
    &nbsp;<br />
    Your participation in this research is voluntary. Your decision whether or not to participate will not affect your current or future dealings with the University of Illinois at Chicago.<strong>&nbsp;If you decide to participate, you are free to withdraw at any time without affecting that relationship.</strong><br />
    &nbsp;<br />
    Approximately 100 subjects may be involved in this research online and at UIC.<br />
    &nbsp;<br />
    <strong><u>What is the purpose of this research?</u></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
    A core competency in piano performance is determining optimal fingerings for a given musical passage. The purpose of this research is to develop methods to predict and/or recommend piano fingerings for eventual integration in a piano tutorial or practice support system.<br />
    &nbsp;<br />
    <strong><u>What procedures are involved?</u></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
    Most participants will complete all activities online in less than one hour.<br />
    &nbsp;<br />
    If convenient for you and if you are requested to do so, you may also complete additional activities online or in person at the University of Illinois at Chicago (in Science and Engineering Laboratories, Suite 1228). Each of these subsequent sessions may take up to two hours.&nbsp;You may be asked to come to the study site at most twice over the next 12 months.<br />
    &nbsp;<br />
    You will be asked to perform one or more of the following:<br />
    <br />
    1.&nbsp;Initial online activities
    <ul>
        <li>Manually document&nbsp;the fingerings you would use to perform a number of short musical examples. (This should take about 30 minutes.)&nbsp;</li>
        <li>Answer survey questions regarding attitudes,&nbsp;experiences, and practices with respect to piano fingering&nbsp;and your&nbsp;perceptions about your own hand physiology. (This should take about 15&nbsp;minutes.)</li>
    </ul>
    2.&nbsp;Optional online activities (<strong>These are the activities you are doing now.</strong>)

    <ul>
        <li>Manually annotate&nbsp;longer musical selections. (This should take one to two hours.)</li>
        <li>Provide additional information about personal fingering preferences.</li>
    </ul>
    3.&nbsp;Optional&nbsp;in-person activities conducted at UIC

    <ul>
        <li>Submit to detailed hand measurements by way of a computer vision system. (This should take no more than a few minutes.)</li>
        <li>Submit to the application of color markers (paint, lacquer, or stickers) to their fingers. (This should take only a&nbsp;few minutes.)</li>
        <li>Submit to the attachment of a non-invasive sensor assembly to one or both hands and lower arms. (This should take no more than a few minutes.)</li>
        <li>Submit to the use of these sensors along with one or more cameras to collect fingering data as you play the piano. (This will take one to two hours.)</li>
        <li>Review and correct fingerings detected automatically. (This should take about thirty minutes.)</li>
    </ul>
    &nbsp;<br />
    All participants must complete the initial online activities before proceeding to the &quot;optional&quot; ones, as data collected in this first step will be tied to data collected in any subsequent activities. Your total time of participation will be between 30 minutes and several hours, depending on your availability. You may stop participating at any time, electing to have the data collected from you destroyed. We do not expect all participants to complete all activities. Data from the initial online activities alone will be valuable for our research purposes.<br />
    &nbsp;<br />
    <strong><u>What are the potential risks and discomforts?</u></strong><br />
    You may be asked to complete an online survey, to describe how you would finger various music, to hold your hands in several poses, and to play the piano with or without color markers and/or lightweight, non-invasive sensors attached to your hands and lower arms. Participation poses no other risks than one would expect from playing the piano and using an electronic device.<br />
    &nbsp;<br />
    <strong><u>Will I be told about new information that may affect my decision to participate?</u></strong><br />
    During the course of the study, you will be informed of any significant new research information (either good or bad), such as changes in the risks or benefits resulting from participation in the research or new alternatives to participation, that might cause you to change your mind about continuing in the research. If new information is provided to you, your consent to continue participating in this research may be re-obtained.<br />
    &nbsp;<br />
    <strong><u>Are there benefits to taking part in the research?&nbsp;</u></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
    You may directly benefit from consciously examining your fingering process and choices. On request, we will share your data with you, so you may study it further. However, no such benefits are guaranteed. This study is primarily designed to learn more about how pianists determine the best fingerings to use. The study results may be used to help other people in the future.<br />
    &nbsp;<br />
    <strong><u>What other options are there?</u></strong><br />
    You have the option not to participate in this study or to stop participating at any time. At any time, you may also request that all data collected from you be destroyed.<br />
    &nbsp;<br />
    <strong><u>What about privacy and confidentiality?</u></strong><br />
    The people who will know that you are a research subject are members of the research team. Otherwise information about you will only be disclosed to others with your written permission, or if necessary to protect your rights or welfare (for example, if you are injured and need emergency care or when the UIC Office for the Protection of Research Subjects monitors the research or consent process) or if required by law.<br />
    &nbsp;<br />
    A possible risk of the research is that individuals outside the research might learn of your participation in the research or information about you. To mitigate this risk, your data will be assigned an arbitrary label.<br />
    &nbsp;<br />
    Any information that is obtained in connection with this study that can be used to identify you will remain confidential and will be disclosed only with your permission or as required by law. The only key linking your identity to you data will be stored on secure servers in records accessible only to the principal investigator and faculty supervisor. Other researchers affiliated with the project will have access only to anonymized data. Moreover, when the data from this research are shared publicly or discussed in conferences, the data will be similarly anonymized: no information will be included to reveal your identity. The key linking data to your identity will be destroyed within five years of the completion of the study. While cameras may be used to capture data, these cameras will be directed at the keyboard and your hands, and pains will be taken to avoid capturing faces. Any footage that inadvertently captures your face will be destroyed upon discovery.<br />
    &nbsp;<br />
    <strong><u>What are the costs for participating in this research?</u></strong>&nbsp; &nbsp;<br />
    There are no costs to you for participating in this research<br />
    &nbsp;<br />
    <strong><u>Will I be reimbursed for any of my expenses or paid for my participation in this research?</u></strong><br />
    You will earn a chance to win a separate $100 Amazon gift card for completing each online activity. At the end of any in-person session, you will receive either $50 in cash or an Amazon gift card of equal value. All Amazon gift cards will be delivered by email. You remain eligible for compensation for any in-person session, even if you terminate it early. You may also decline to accept any incentives.&nbsp;No more than $500 in cash or gift cards will be provided to any individual in a calendar year.In some cases, for tax reasons, we may be required to pay you by check instead of by cash or gift card.<br />
    &nbsp;<br />
    Note that all such payments are considered to be taxable income by the United States Internal Revenue Service and that for income reporting purposes we will collect your name and address before making any payment to you. In the event that your receipts from various research studies at the University of Illinois will total $600 or more in a given calendar year, you will be required to provide your Social Security or Individual Taxpayer Identification Number before payment will be processed.<br />
    &nbsp;<br />
    All sensitive data required for these financial transactions will be stored exclusively on the Qualtrics online survey system (within artifacts controlled by the researchers) and a secure system within the University of Illinois Office of Business and Financial Services. These data will be transmitted between these two systems by the principal investigator via secure email to ensure your privacy.<br />
    &nbsp;<br />
    <strong><u>Can I withdraw or be removed from the study?&nbsp;</u></strong><br />
    If you decide to participate, you are free to withdraw your consent and discontinue participation at any time without penalty. To withdraw from an online session, simply close your browser window. If you do not return to complete the session within two weeks, your data will be deleted. To withdraw from an in-person session, simply notify the attending researcher.<br />
    &nbsp;<br />
    With the exception of the fingering problems and questions used to determine your eligibility and consent to participate, you may refuse to answer any questions you don&rsquo;t want to answer and still remain in the study.&nbsp;<br />
    &nbsp;<br />
    The researchers may also stop your participation in this study without your consent if they believe it is in your best interests.<br />
    &nbsp;<br />
    In the event you withdraw or are asked to leave the study, you will still be compensated as described above.<br />
    &nbsp;<br />
    <strong><u>Who should I contact if I have questions?</u></strong><br />
    Contact the researchers David Randolph (PhD Student, UIC) at&nbsp;<a href="mailto:drando2@uic.edu">drando2@uic.edu</a>&nbsp;or Barbara Di Eugenio (Professor, UIC) at&nbsp;<a href="mailto:bdieugen@uic.edu">bdieugen@uic.edu</a><br />
    &nbsp;
    <ul>
        <li>if you have any questions about this study or your part in it, or&nbsp;</li>
        <li>if you have concerns or complaints about the research.</li>
    </ul>
    &nbsp;<br />
    <strong><u>What are my rights as a research subject?</u></strong><br />
    If you feel you have not been treated according to the descriptions in this form, or if you have any questions about your rights as a research subject, including questions, concerns, complaints, or to offer input, you may call the Office for the Protection of Research Subjects (OPRS) at 312-996-1711 or 1-866-789-6215 (toll-free) or e-mail OPRS at&nbsp;<a href="mailto:uicirb@uic.edu">uicirb@uic.edu</a>.<br />
    &nbsp;<br />
    <strong><u>What if I am a UIC student?</u></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
    You may choose not to participate or to stop your participation in this research at any time. This will not affect your class standing or grades at UIC. The investigator may also end your participation in the research. If this happens, your class standing or grades will not be affected. You will not be offered or receive any special consideration if you participate in this research.<br />
    &nbsp;<br />
    <strong><u>What if I am a UIC employee?</u></strong>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
    Your participation in this research is in no way a part of your university duties, and your refusal to participate will not in any way affect your employment with the university, or the benefits, privileges, or opportunities associated with your employment at UIC. You will not be offered or receive any special consideration if you participate in this research.<br />
    &nbsp;<br />
    <strong><u>Remember</u></strong>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
    Your participation in this research is voluntary. Your decision whether or not to participate will not affect your current or future relations with UIC. If you decide to participate, you are free to withdraw at any time without affecting that relationship.<br />
    &nbsp;<br />
    <b><u>Consent agreement</u></b> <br><br>
    <label style="display:block; margin-left: 20px;">
        <input type="radio" style="float:left; margin-left:-20px; margin-right:7px;" name="consent" value="yes">
        I have read (or someone has read to me) the above information. I have been given an opportunity to ask questions, and my questions have been answered to my satisfaction. I am over the age of 18 and agree to participate in this research. I will be emailed a dated copy of this consent form.<br><br>
    </label>
    <input type="radio" name="consent" value="no"> I decline to participate.<br><br>
    <input type="submit" id="consent_button" value="SUBMIT">
    <br><br>
</form>

<form id="simplified_instructions" style="display:none;" onsubmit="return startAnnotating()">
    For each of the following preludes and fugues, please add fingering annotations to specify your performance completely. While it is not necessary for you to annotate every note, the intended fingering for each note should be clear from the context.<br />
    <br />
    We have created a new editor to make this task as easy as possible.
    <ul>
        <li>Click a note or use the arrow keys to navigate.</li>
        <li>To enter most annotations, simply enter a digit (1-5) when a note is highlighted (red or blue).</li>
        <li>Red highlighting indicates the right hand is in use. Blue indicates the left. Type&nbsp;<strong>T&nbsp;</strong>to&nbsp;<strong>t</strong>oggle the hand assignment. You will notice different positioning and typeface&nbsp;for annotations assigned to different hands.</li>
        <li>To indicate a note has&nbsp;different striking and releasing fingers (i.e., a finger <em>substitution</em>), enter two digits separated by a hyphen.</li>
        <li>Detailed help is available via the&nbsp;<span style="font-family: georgia, serif;"><span style="font-size: 19px;"><em><strong>i</strong></em></span></span>&nbsp;button on the right of the tool bar at the top of the page.</li>
    </ul>
    <input type="submit" id="start_annotating" value="NEXT">
    <br/><br/>
</form>

<div id="all_done" style="display:none;">
    <h2>All done!</h2>
    <p>
        Thank you for your participation in this phase of our study. Your contributions are much appreciated.
    </p>
</div>
</body>
</html>